[submodule "evals/c4-model-example"]
	path = evals/repos/c4-model-example
	url = https://github.com/godatadriven/c4-model-example.git
[submodule "evals/rundler"]
	path = evals/repos/rundler
	url = https://github.com/alchemyplatform/rundler.git
[submodule "evals/openfga"]
	path = evals/openfga
	url = https://github.com/openfga/openfga.git
